.trafficLight {
    background-color: #373b3e;
    height: 280px;
    width: 120px;
    display: flex;
}

.pole {
    background-color: #373b3e;
    height: 80px;
    width: 20px;
}

.light {
    border-radius: 100%;
    height: 85px;
    width: 100%;
    margin-top: 6px;
}

body {
    background-color: rgb(190, 240, 255);
}

.red {
    background-color: rgb(223, 0, 45);
}

.yellow {
    background-color: rgb(255, 220, 20);
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.redActive {
    box-shadow: 0 0 20px 5px #f00;
}

.yellowActive {
    box-shadow: 0 0 20px 5px #ff0;
}

.greenActive {
    box-shadow: 0 0 20px 5px #0f0;
}

.purpleActive {
    box-shadow: 0 0 20px 5px rgb(140, 0, 255);
}

.btn {
    width: 120px;
}

.trafficLightPurple {
    background-color: #373b3e;
    height: 100px;
    width: 120px;
    display: flex;
}

.lightPurple {
    border-radius: 100%;
    height: 85px;
    width: 100%;
    margin-top: 6px;
}